<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="<%= script %>" defer></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1 id="boxNr"></h1>
    <label for="regularCheck">Regular Dex</label>
    <input type="checkbox" name="regular" id="regularCheck" onclick="checkDex()" checked>
    <label for="shinyCheck">Shiny Dex</label>
    <input type="checkbox" name="shiny" id="shinyCheck" onclick="checkDex()">
    <div id="dex"></div>
    <button id="prev">Back</button>
    <button id="next">Next</button>
</body>
</html>