<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="<%= script %>" defer></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
    <label for="regularCheck" class="label">Regular Dex</label>
    <input type="radio" name="dex" id="regularCheck" onclick="checkDex()" checked ><br>
    <label for="shinyCheck"  class="label">Shiny Dex</label>
    <input type="radio" name="dex" id="shinyCheck" onclick="checkDex()"><br>
    <label for="bothCheck"  class="label">Both Dex</label>
    <input type="radio" name="dex" id="bothCheck" onclick="checkDex()"><br>

    <label for="genderCheck"  class="label">Gender differences</label>
    <input type="checkbox" name="gender" id="genderCheck" onclick="checkDex()"><br>
    <label for="regionCheck"  class="label">Region differences</label>
    <input type="checkbox" name="region" id="regionCheck" onclick="checkDex()"><br>

    <div id="dex"></div>
    
</body>
</html>