<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="<%= script %>" defer></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
    <label for="regularCheck">Regular Dex</label>
    <input type="radio" name="dex" id="regularCheck" onclick="checkDex()" checked >
    <label for="shinyCheck">Shiny Dex</label>
    <input type="radio" name="dex" id="shinyCheck" onclick="checkDex()">
    <label for="bothCheck">Both Dex</label>
    <input type="radio" name="dex" id="bothCheck" onclick="checkDex()">

    <label for="genderCheck">Gender differences</label>
    <input type="checkbox" name="gender" id="genderCheck" onclick="checkDex()">
    <label for="regionCheck">Region differences</label>
    <input type="checkbox" name="region" id="regionCheck" onclick="checkDex()">

    <div id="dex"></div>
    
</body>
</html>