<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./js/calculator.js"></script>
    <link rel="stylesheet" href="./css/calculator.css">
</head>
<body>
    <select name="Pokémon" id="pokemons" onchange="displayStats()"></select>
        <p id="id"></p>
        <img id="sprite" alt="">
        <p>Hp: <span id="hp"></span></p> 
        <p>Attack: <span id="attack"></span></p> 
        <p>Defense: <span id="defense"></span></p> 
        <p>Sp. Attack: <span id="spAttack"></span></p> 
        <p>Sp. Defense: <span id="spDefense"></span></p> 
        <p>Speed: <span id="speed"></span></p> 
</body>
</html>