<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="js/gen.js" defer></script>
    <link rel="stylesheet" href="css/gen.css">
</head>

<body>
    <div id="alles">
        <div id="buttons">
            <p>Gen1</p><input type="checkbox" name="" id="">
            <p>Gen2</p><input type="checkbox" name="" id="">
            <p>Gen3</p><input type="checkbox" name="" id="">
            <p>Gen4</p><input type="checkbox" name="" id="">
            <p>Gen5</p><input type="checkbox" name="" id="">
            <p>Gen6</p><input type="checkbox" name="" id="">
            <p>Gen7</p><input type="checkbox" name="" id="">
            <p>Gen8</p><input type="checkbox" name="" id="">
        </div>
        <div id="tile1" class="tiles"></div>

        <div id="tile2" class="tiles"></div>

        <div id="tile3" class="tiles"></div>

        <div id="tile4" class="tiles"></div>

        <div id="tile5" class="tiles"></div>

        <div id="tile6" class="tiles"></div>

        <div id="tile7" class="tiles"></div>

        <div id="tile8" class="tiles"></div>

    </div>


</body>

</html>