<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="js/home.js" defer></script>
    <link rel="stylesheet" href="css/home.css">
</head>

<body>
    
    <div id="checkbox">
        <label for="gen1">Gen 1</label>
        <input type="radio" name="gen" id="gen1" onclick="checkGen()">
        <label for="gen2">Gen 2</label>
        <input type="radio" name="gen" id="gen2" onclick="checkGen()">
        <label for="gen3">Gen 3</label>
        <input type="radio" name="gen" id="gen3" onclick="checkGen()">
        <label for="gen4">Gen 4</label>
        <input type="radio" name="gen" id="gen4" onclick="checkGen()">
        <label for="gen5">Gen 5</label>
        <input type="radio" name="gen" id="gen5" onclick="checkGen()">
        <label for="gen6">Gen 6</label>
        <input type="radio" name="gen" id="gen6" onclick="checkGen()">
        <label for="gen7">Gen 7</label>
        <input type="radio" name="gen" id="gen7" onclick="checkGen()">
        <label for="gen8">Gen 8</label>
        <input type="radio" name="gen" id="gen8" onclick="checkGen()">
        <p class="genName"></p>
        
    </div>
    
        <div id="tiles">
            
        </div>
   

</body>

</html>