#checkbox {

    position: fixed;
    top: 0;
    margin: 0 2%;
    background-color: white;
}

.tiles {

    align-content: center;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.tile {
    width: 6%;
    border: 2px black solid;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 5px;
}

.tileFoto {
    width: 100%;
    

}
#buttons{
    
    display: flex;
    justify-content: center;
    
    
}
button{
    
    width: 11%;
}
#alles{
    display: inline-block
}


