#checkbox {

    position: fixed;
    top: 0;
    margin: 0 2%;
    background-color: white;
}

.tiles {

    align-content: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 4%;
    border: 2px black solid;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 5px;
}

.tileFoto {
    width: 100%;
    

}


