.sprite {
    width: 5%;
}

#dex {
    grid-area: dex;
    display: flex;
    justify-content: center;
    width:  100%;
    
    
}

.box {
    border: white 1px solid;
   
    display: inline-block;
    background-color: grey;
    
}
body{grid-template-columns: 'dex';}
.label{font-size: 40px;}
#regularCheck,#shinyCheck,#bothCheck,#genderCheck,#regionCheck{height: 40px;width: 40px;}



