.sprite {
    width: 16%;
}

#dex {
    grid-area: dex;
    display: flex;
    justify-content: center;
    
    
}

.box {
    border: white 1px solid;
    width: 50%;
    display: inline-block;
    background-color: grey;
    
}
body{grid-template-columns: 'dex';}

